 <ul>
  <li>
    <%= link_to "Content", contents_path %>
  </li>
  <li>
    <%= link_to "Endpoints", endpoints_path %>
  </li>
  <li>
    <%= link_to "Layouts", layouts_path %>
  </li>
  <li>
    <%= link_to 'User Accounts', admin_users_path %>
  </li>
</ul>
