
<div class="content-wrapper not-signed-in" id="reset-password-page">
	<div class="header">
		<div class="page-header left">Password</div>
		<div class="clear"></div>
	</div>
	<div class="main-content single-column-layout">
		<h1 class="page-title">Hello <%= @resource.email %>!</h1>
		
		<div class="clear"></div>

		<p>Someone has requested a link to change your password. You can do this through the link below.</p>

		<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

		<p>If you didn't request this, please ignore this email.</p>
		<p>Your password won't change until you access the link above and create a new one.</p>

		<div class="clear"></div>
	</div>
</div>
